<div class="container">
  <div class="row mt-3">
    <div class='col-md-3'>
      <h4 class="text-center"><%= @user.name %>様トップページ</h4>

      <table class="table">
        <thead>
          <tr>ご登録の情報<tr>
        </thead>
        <%= render 'brewery/breweries/info', user: @user %>
      </table>
      <% if current_shop.name != "閲覧者" %>
        <div class="d-flex justify-content-center">
          <%= link_to "会員情報の編集", shop_my_page_edit_path, class: "btn btn-outline-secondary btn-sm" %>
        </div>
      <% end %>
    </div>
    <div class='col-md-9'>
      <div class='row'>
        <h4>現在取扱中のお酒</h4>
        <%= render 'shop/sakes/index', sakes: @sakes %>
      </div>
      <div class='row'>
        <h4>フォローされた酒造</h4>
        <%= render 'shop/breweries/index', users: @breweries %>
      </div>
    </div>
  </div>
</div>