<table class='table comment_list'>
  <% if comments.blank? == false %>
    <% comments.each do |comment| %>
      <thead>
        <th></th>
        <th>店舗名</th>
        <th>コメント</th>
        <th></th>
      </thead>
      <tbody>
        <tr>
          <td>
            <%= link_to admin_shop_path(comment.shop_id) do %>
              <%= image_tag comment.shop.get_image, size: "100x100" %>
            <% end %>
          </td>
          <td>
            <%= link_to admin_shop_path(comment.shop_id) do %>
              <%= comment.shop.name %>
            <% end %>
          </td>
          <td><%= comment.comment %></td>
          <td>
            <%= link_to '削除', admin_sake_comment_path(sake, comment), method: :delete, remote: true, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger"%>
          </td>
        </tr>
      </tbody>
    <% end %>
  <% else %>
    <td>コメントがまだ投稿されていません。</td>
  <% end %>
</table>