<h2>店舗詳細</h2>
  <table class="table">
    <thead>
      <tr>店舗の情報<tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"></th>
        <td><%= image_tag @user.get_image, size: "100x100" %></td>
      </tr>
      <tr>
        <th scope="row">店舗名</th>
        <td><%= @user.name %></td>
      </tr>
      <tr>
        <th scope="row">住所</th>
        <td>〒<%= @user.post %> <%= @user.address %></td>
      </tr>
      <tr>
        <th scope="row">電話番号</th>
        <td><%= @user.tel %></td>
      </tr>
      <tr>
        <th scope="row">Email</th>
        <td><%= @user.email %></td>
      </tr>
    </tbody>
  </table>
  <%= link_to "会員情報の編集", edit_admin_shop_path(@user), class: "btn btn-outline-secondary btn-sm" %>
  <table>
        <thead>
          <tr>
            <th></th>
            <th>商品名</th>
            <th>メーカー希望価格(税込)</th>
            <th>ジャンル</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @favorites.each do |favorite| %>
            <tr>
              <td>
                <%= link_to admin_sake_path(favorite.sake.id) do %>
                  <%= image_tag favorite.sake.get_image, size: "100x100" %>
                <% end %>
              </td>
              <td>
                <%= link_to admin_sake_path(favorite.sake.id) do %>
                  <%= favorite.sake.name %>
                <% end %>
              </td>
              <td><%= (favorite.sake.price * 1.1).round %>円</td>
              <td><%= favorite.sake.tag.name %></td>
              <td>
                <% if favorite.sake.is_active == true %>
                  販売中
                <% else %>
                  休売
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
     </table>