<div class="container">
  <div class="row">
    <div class='mx-auto col-11 col-sm-10 col-lg-8 col-xl-6'>
      <h4 class="mt-3 text-center"><%= @user.name %>様 いつもご利用頂きありがとうございます。</h4>

      <table class="table">
        <thead>
          <tr>ご登録の情報<tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"></th>
            <td><%= image_tag @user.get_image, size: "100x100" %></td>
          </tr>
          <tr>
            <th scope="row">お名前</th>
            <td><%= @user.name %></td>
          </tr>
          <tr>
            <th scope="row">ご住所</th>
            <td>〒<%= @user.post %> <%= @user.address %></td>
          </tr>
          <tr>
            <th scope="row">お電話番号</th>
            <td><%= @user.tel %></td>
          </tr>
          <tr>
            <th scope="row">Email</th>
            <td><%= @user.email %></td>
          </tr>
        </tbody>
      </table>

      <div class="d-flex justify-content-center">
        <%= link_to "会員情報の編集", brewery_my_page_edit_path, class: "btn btn-outline-secondary btn-sm" %>
      </div>
    </div>
  </div>
</div>