<div class="container">
  <div class="row mt-3">
    <div class='col-md-3'>
      <h4 class="text-center"><%= @user.name %>様<br>トップページ</h4>

      <table class="table">
        <thead>
          <tr>ご登録の情報<tr>
        </thead>
        <%= render 'info', user: @user %>
      </table>
      <div class="d-flex justify-content-center">
        <%= link_to "会員情報の編集", brewery_my_page_edit_path(@user.id), class: "btn btn-outline-secondary btn-sm" %>
      </div>
    </div>
    <div class='col-md-8 offset-md-1'>
      <h4><%= @user.name %>様 商品一覧</h4>
        <div class="d-flex">
          <%= link_to "新規商品登録", new_brewery_sake_path, class: "btn btn-outline-success btn-sm" %>
          <%= link_to "自社商品検索", brewery_sakes_path, class: "btn btn-outline-primary btn-sm ml-2" %>
        </div>
      <%= render 'brewery/sakes/index', sakes: @sakes %>
    </div>
  </div>
</div>