<table class='table'>
  <% if comments.blank? == false %> <!--コメントが存在する場合-->
    <% comments.each do |comment| %>
      <thead>
        <th></th>
        <th>店舗名</th>
        <th>コメント</th>
      </thead>
      <tbody>
        <tr>
          <td>
            <%= link_to brewery_shop_path(comment.shop.id) do %>
              <%= image_tag comment.shop.get_image, size: "100x100" %>
            <% end %>
          </td>
          <td>
            <%= link_to brewery_shop_path(comment.shop.id) do %>
              <%= comment.shop.name %>
            <% end %>
          </td>
          <td><%= comment.comment %></td>
        </tr>
      </tbody>
    <% end %>
  <% else %>
    <td>コメントがまだ投稿されていません。</td>
  <% end %>
  <%= paginate comments %>
</table>