<table class="table">
  <% if users.blank? == false %> <!--userが存在する場合-->
    <thead>
      <tr>
        <th></th>
        <th>店舗名</th>
        <th>ステータス</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% users.each do |user| %>
        <tr>
          <td>
            <%= link_to brewery_shop_path(user) do %>
              <%= image_tag user.get_image, size: "100x100" %>
            <% end %>
          </td>
          <td>
            <%= link_to brewery_shop_path(user) do %>
              <%= user.name %>
            <% end %>
          </td>
          <td>
            <% if user.is_enable == true %>
              営業中
            <% else %>
              閉店
            <% end %>
          </td>
          <td>
            <% if current_brewery.followed_by?(user) %>
              <%= link_to "フォロー外す", brewery_shop_relationships_path(user), method: :delete, class: "btn btn-success" %>
            <% else %>
              <%= link_to "フォローする", brewery_shop_relationships_path(user), method: :post, class: "btn btn-success" %>
            <% end %>
          </td>
        </tr>
      <% end %>
      <%= paginate users %>
  <% else %>
      <td>取り扱っている店舗はありません。</td>
  <% end %>
    </tbody>
</table>