<div class="container">
  <div class="row">
    <div class="mx-auto col-sm-6">
      <h3 class="text-center">タグ一覧・追加</h3>
      <div class='row'>
        <div class="mt-2 form-inline">
          <div class="form-group">
            <%= form_with url: admin_tags_path, local: true, method: :get do |f| %>
              <%= f.text_field :search, class: "form-control", placeholder: "タグ検索" %>
              <%= f.submit "検索", class: "btn btn-light my-2" %>
            <% end %>
          </div>
        </div>
      </div>
      <div class='row'>
        <%= form_with model: @tag, url: admin_tags_path do |f| %>
          <%= f.text_field :name, class: 'form-control', placeholder: "新規タグ入力" %>
          <%= f.submit '新規登録', class: 'btn btn-success mt-2' %>
        <% end %>
        <% if @tag.errors.any? %>
          空白での登録はできません。
        <% end %>
      </div>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-6 mx-auto">
      <table class="table">
        <thead>
          <tr></tr>
          <tr>
            <th>タグ一覧</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @tags.each do |tag| %>
            <tr>
              <td><%= tag.name %></td>
              <td><%= link_to "編集", edit_admin_tag_path(tag), class: 'btn btn-outline-secondary btn-sm' %></td>
              <td><%= link_to '削除', admin_tag_path(tag), method: :delete, data: {confirm: "タグを削除しますか？"}, class: 'btn btn-danger btn-sm' %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
