<table>
  <thead>
    <tr>
      <th></th>
      <th>商品名</th>
      <th>メーカー希望価格(税込)</th>
      <th>ジャンル</th>
      <th>ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% sakes.each do |sake| %>
      <tr>
        <td>
          <%= link_to admin_sake_path(sake) do %>
            <%= image_tag sake.get_image, size: "100x100" %>
          <% end %>
        </td>
        <td>
          <%= link_to admin_sake_path(sake) do %>
            <%= sake.name %>
          <% end %>
        </td>
        <td><%= (sake.price * 1.1).round %>円</td>
        <td><%= sake.tag.name %></td>
        <td>
          <% if sake.is_active == true %>
            販売中
          <% else %>
            休売
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>