<div class="container">
  <div class="row mt-3">
    <div class='mx-auto col-4'>
      <h3 class="text-center">商品編集</h3>
      <%= render '/layouts/errors', obj: @sake %>
      <%= form_with model: @sake, url: admin_sake_path(@sake.id), local: true do |f| %>
        <%= render 'brewery/sakes/form', f: f %>
        <%= f.submit "変更を保存", class: "btn btn-outline-success btn-sm btn-block mt-2" %>
      <% end %>
      <%= link_to "削除", admin_sake_path(@sake.id), method: :delete, data: {confirm: "お酒を削除しますか？"}, class: "btn btn-danger btn-sm btn-block mt-2" %>
    </div>
  </div>
</div>