<div class="container">
  <div class="row">
    <div class='mx-auto col-sm-3'>
      <h3 class="mt-2 text-center">店鋪ログイン</h3>

      <div class="mx-auto">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.label :email, class: "form-label" %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
          </div>

          <div class="field mt-2">
            <%= f.label "パスワード", class: "form-label" %><br />
            <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="field mt-2 form-check">
              <%= f.check_box :remember_me, class: "form-check-input" %>
              <%= f.label "次回以降自動入力する", class: "form-check-label" %>
            </div>
          <% end %>

          <div class="actions mt-2">
            <%= f.submit "ログイン", class: "btn btn-outline-success btn-sm btn-block" %>
          </div>
        <% end %>
        <%= render "shop/shared/links" %>
      </div>
    </div>
  </div>
</div>