<table class='table'>
  <% if users.blank? == false %> <!--userが存在する場合-->
    <thead>
      <tr>
        <th></th>
        <th>酒造名</th>
        <th>ステータス</th>
      </tr>
    </thead>
    <tbody>
      <% users.each do |user| %>
        <tr>
          <td>
            <%= link_to shop_brewery_path(user) do %>
              <%= image_tag user.get_image, size: "100x100" %>
            <% end %>
          </td>
          <td>
            <%= link_to shop_brewery_path(user) do %>
              <%= user.name %>
            <% end %>
          </td>
          <td>
            <% if user.is_enable == true %>
              営業中
            <% else %>
              閉店
            <% end %>
          </td>
        </tr>
      <% end %>
  <% else %>
    <td>酒造が見つかりませんでした。</td>
  <% end %>
  <%= paginate users %>
    </tbody>
</table>